body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
span{
   color: #1D3C5E; 
}
#line{
     border-bottom:1px solid rgb(225, 105, 105) ;
}
#lin2{
    border-bottom:1px solid rgb(255, 255, 255) ;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

header{
   
    height: 100px;
    margin: auto;
    max-width: 1100px;
   
    
}
#web-name{
    margin: auto;
    font-size: 40px;
    float: left;
    
   

}
#right-box{
    height: 200px;
   float: right;
}
ul{
    text-decoration: none;
    padding: 20px  0px;
    color: red;
    list-style: none;
    margin: auto;
    text-align: center;
    
}
li{
    text-decoration: none;
    list-style: none;
    padding: 10px 30px;
    color: red;
    float: left;
    margin: auto;
    text-align: center;
}
#srch-box{
    margin: auto;
    text-align: center;
    
}
/* /// */

/* big one */

/* \\\ */

#Bigone{
    background-color: #0D1B2A;
    text-align: center;
    display: block;
    margin: auto;
    padding: 200px 0px;
    color: wheat;
}
#Bigone P{
    
    /* border-bottom: 2PX solid; */
}
#Bigone img{
    margin: auto;
}

/* /// */

/* bottom-box */

/* \\\ */
#bottom-container{
    margin: auto;
    max-width: 1300px;
}
#bag p{
    border-bottom: 1px solid black;
}
.inline{
    display: inline;
}

#left{
    padding: 30px;
   
    text-align: center;
    width: 40%;
    float: left;
}


#right{
    padding: 30px;
   
    text-align: center;
    width: 40%;
    float: right;
}