body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
#line{
     border-bottom:1px solid rgb(218, 218, 218) ;
}
header{
    
    height: 100px;
    margin: auto;
    max-width: 1100px;
   
    
}
#web-name{
    float: left;
    
   

}
#right-box{
    height: 200px;
   float: right;
}
ul{
    text-decoration: none;
    padding: 20px  0px;
    color: red;
    list-style: none;
    margin: auto;
    text-align: center;
    
}
li{
    text-decoration: none;
    list-style: none;
    padding: 10px 30px;
    color: red;
    float: left;
    margin: auto;
    text-align: center;
}
#srch-box{
    margin: auto;
    text-align: center;
    
}
/* /// */

/* big one */

/* \\\ */

#Bigone{
    text-align: center;
    display: block;
    margin: auto;
    padding: 200px 0px;


}
#Bigone img{
    margin: auto;
}

/* /// */

/* qooute-box */

/* \\\ */
